<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
        
	<!-- <bean id="triangle" class="com.sachin.springframework.base.jsr250specification.Triangle">
		<property name="pointA" ref="pointA"/>
		<property name="pointB" ref="pointB"/>
		<property name="pointC" ref="pointC"/>
	</bean> -->
	<bean id="pointA" class="com.sachin.springframework.base.messageresource.Point">
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>
	<bean id="pointB" class="com.sachin.springframework.base.messageresource.Point">
		<property name="x" value="-20"/>
		<property name="y" value="0"/>
	</bean>
	<bean id="center" class="com.sachin.springframework.base.messageresource.Point">
		<property name="x" value="0"/>                                                                                                                                                                                                                                                                                                                   
		<property name="y" value="78"/>
	</bean>
	
	
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
	<context:component-scan base-package="com.sachin.springframework.base.messageresource" /> 
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>mymessages</value>
			</list>
		</property>
	</bean>
	
</beans>